.timer-buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.timer-buttons button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button.startStop {
  background-color: #28a745;
}

button.reset {
  background-color: #ff9800;
}

button.delete {
  background-color: #dc3545;
}

/* Contenitore dei timer */
.timerContainer,
.timerGroupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.timer {
  background-color: #f1f7fe;
  padding: 16px;
  color: #3e4684;
  border: 3px solid #3e4684;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.timer p {
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 30px 40px;
  border: 5px solid #3e4684;
  border-radius: 8px;
  background-color: #dde5f4;
  width: auto;
  text-align: center;
}

.timer button {
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 0.9rem;
}

/* Input tempo */
.time-inputs {
  border: 4px solid #3e4684;
  background-color: #dde5f4;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.time-inputs span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Azioni aggiunta timer */
.timePart {
  color: #3e4684;
  border: none;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.timePart::placeholder {
  color: #3e4684;
  opacity: 1;
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.cancelNewTimer,
.saveNewTimer {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.cancelNewTimer {
  background-color: #dc3545;
}

.saveNewTimer {
  background-color: #28a745;
}

/* Bottone + */
#addTimerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 8px 16px;
  font-size: 1.5rem;
  width: fit-content;
  background-color: #3e4684;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

/* Effetti */
.timer-buttons button:active,
#addTimerBtn:active,
.cancelNewTimer:active,
.saveNewTimer:active {
  transform: scale(0.95);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.timer-buttons button:hover,
#addTimerBtn:hover,
.cancelNewTimer:hover,
.saveNewTimer:hover {
  transform: scale(1.05);
}
